[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
[user]
	name = Stas Turlo
	email = stanislav.turlo@rightscale.com
[core]
	editor = /usr/bin/vim
